.settings-menu {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #F9C0B4;
    border-radius: 12px;
    width: 154px;
    display: none;
    flex-direction: column;
    z-index: 100;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 8px 0;
}

.settings-menu.open {
    display: flex;
}

.settings-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.settings-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #842323;
}

.settings-menu li:hover {
    background-color: #fff4f2;
}

.checkmark {
    display: none;
    color: #F9C0B4;
    font-weight: bold;
}

.settings-menu li.active .checkmark {
    display: inline;
}

.has-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    left: -164px;
    top: 0;
    border: 2px solid #F9C0B4;
    border-radius: 12px 0 12px 12px;
    background-color: #fff;
    width: 160px;
    display: none;
    overflow: hidden;
    text-align: left;
}

.has-submenu:hover .submenu {
    display: block;
}
